
<div class="centerlogin">
  <h2 style="text-align: center;font-weight:bold">Log In </h2>
  <div class="input-group" style="margin-left:50px; margin-top:20px">
    <input type="text" class="form-control" placeholder="Email Id" aria-describedby="basic-addon1">
  </div>
  <div class="input-group" style="margin-left:50px; padding-top:20px">
    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
  </div>
  <div style="margin-left:110px; padding-top:20px">
    <button class="btn btn-primary">Signin</button>
  </div>
</div>
