<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
     <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="highlight">Ticket</span> Server</h3>
      </div>
      <div class="panel-body heading">
          <nav>
            <ul>
              <li a href="#">Home</li>
              <li routerLink="login">Login</li>
              <li routerLink="register">Register</li>
              <li a href="#">Logout</li>
            </ul>
          </nav>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </header>
  <section class="sectioncontent">

  </section>
</body>
</html>
